joblib==1.2.0
jupyterlab==4.0.9
langdetect==1.0.7
matplotlib==3.8.0
nltk==3.8.1
numpy==1.26.3
pandas==2.1.4
Pillow==10.0.1
scikit-learn==1.3.0
scipy==1.11.4
tensorflow==2.16.1
tqdm==4.65.0
spacy==3.7.2
swifter

# Modèles spaCy (tous en version 3.7.x pour compatibilité avec spacy 3.7.2)
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.7.0/fr_core_news_sm-3.7.0-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.7.0/es_core_news_sm-3.7.0-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-3.7.0/de_core_news_sm-3.7.0-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/nl_core_news_sm-3.7.0/nl_core_news_sm-3.7.0-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/it_core_news_sm-3.7.0/it_core_news_sm-3.7.0-py3-none-any.whl
